
/*クイックスロット全体*/
#leftQuickSlotContainer {

	/*background-color:red;*/

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;

	display: flex;
	/*縦方向*/
	flex-direction: column;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 135px;
	height: auto;
	padding: 0;
	margin: 0;
	/*手前*/
	z-index: 999;

	pointer-events:auto;
}

#leftQuickSlotTab {

	/*background-color:rgb(0, 60, 255);*/
	/*background-size: 200% 100%;*/
	background-image: url("../assets/ui/quickSlot/tab.png");
	background-repeat: no-repeat;
	background-position: left top;

	position: relative;
	bottom:-3px;
	right:4px;
	margin-left: auto;
	width:81px;
	height: 16px;

}

#leftQuickSlotTab.quickSlotTab2
{
	background-position: left bottom;
}

#leftQuickSlotShortcut
{
	background-color:rgba(0, 0, 0, 0.5);
	/* 画像の横幅を2倍(200%)にすることで、画像全体を 左半分・右半分の2コマとして扱えるようにする */
	/*background-size: 200% 100%;*/
	/* 画像が繰り返し表示されないようにする */
	background-image: url("../assets/ui/quickSlot/quickSlot.png");
	background-repeat: no-repeat;
	
	width: 135px;
	height: 88px;
}

/*
#leftQuickSlotShortcut:hover
{
	
}*/