/*=======================*/
#leftStatus {

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;

	/*background-color: rgb(204, 0, 255);*/
	width: auto;
	height: auto;
	position: absolute;

	left: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	/*display: flex;
	flex-direction: column;*/

	/* クリックは受け付けず、下のCanvasに素通りさせる */
	pointer-events: none;
	/* ブラウザ標準のスクロール・ズーム・長押しメニューなどのジェスチャーを無効化 */
	/*touch-action: none;*/
	/* iOS Safari用：長押しで出る画像保存メニューなどを無効化 */
	/*-webkit-touch-callout: none;*/
	/*-webkit-user-select: none;*/
	/* 長押しでのテキスト選択を防ぐ */
	/*user-select: none;*/

}


/*=======================*/

#leftStatusPanel {

	/*background-color: green;*/
	width: 176px;
	height: 124px;

	/*これは触れる*/
	pointer-events: auto;
}

#leftOpen {
	background-image: url("../assets/ui/LeftStatus/open.png");
	background-repeat: no-repeat;

	left: 0px;
	top: 0px;
	width: 45px;
	height: 48px;
}

#leftXpBar {
	background-image: url("../assets/ui/LeftStatus/xpBar.png");
	background-repeat: no-repeat;
	background-color: rgb(231, 178, 4);
	position: absolute;
	left: 0px;
	/*leftOpen+2px*/
	top: calc(48px + 2px);
	width: 3px;
	height: 233px;
}

#leftCoolTimer {
	background-image: url("../assets/ui/LeftStatus/coolTimer.png");
	background-repeat: no-repeat;

	position: absolute;
	left: 3px;
	top: 1px;
	width: 113px;
	height: 119px;
}

#leftPower {
	background-image: url("../assets/ui/LeftStatus/power.png");
	background-repeat: no-repeat;

	position: absolute;
	left: 30px;
	top: 28px;
	width: 148px;
	height: 65px;
}

#leftEnvironment {
	background-image: url("../assets/ui/LeftStatus/environment.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 29px;
	top: 29px;
	width: 35px;
	height: 35px;
}
#leftComboCount {
	background-image: url("../assets/ui/LeftStatus/comboCount.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 44px;
	top: 68px;
	width: 15px;
	height: 15px;
}
#leftAfkBtn {

	background-image: url("../assets/ui/LeftStatus/afkBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 78px;
	top: 83px;
	width: 15px;
	height: 15px;
}
#leftFootBtn {
	background-image: url("../assets/ui/LeftStatus/footBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 93px;
	top: 72px;
	width: 15px;
	height: 15px;
}
#leftStatusBtn {
	background-image: url("../assets/ui/LeftStatus/statusBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 66px;
	top: 109px;
	width: 15px;
	height: 15px;
}
#leftEnvironmentBtn {
	background-image: url("../assets/ui/LeftStatus/environmentBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 85px;
	top: 103px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
#leftNoExpandBtn {
	background-image: url("../assets/ui/LeftStatus/noexpand.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
	top: 92px;
	width: 15px;
	height: 15px;
}
#leftSkillSlot {
	/*background: radial-gradient(circle, #d80303 0%, #000 100px, transparent 101px);*/

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: crisp-edges;
	/* Firefox */
	image-rendering: crisp-edges;
	/* はみ出た画像を丸くカット */
	overflow: hidden;
	color: white;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	position: absolute;
	left: 62px;
	top: 52px;
	width: 28px;
	height: 28px;
}

/* ホバー時は背景位置を右半分にずらして「押された画像」に見せる */
#leftStatusPanel .downed {
	background-position: right top;
}
/*=======================*/

#leftStatusList {
	/*background-color: rgb(4, 27, 231);*/

	margin: 0;
	padding: 0;
	position: relative;
	left: 12px;
	top: 5px;

	/*横並び*/
	display: flex;
	flex-direction: row;

	/* クリックは受け付けず、下のCanvasに素通りさせる */
	pointer-events: none;
	/* ブラウザ標準のスクロール・ズーム・長押しメニューなどのジェスチャーを無効化 */
	touch-action: none;
	/* ドラッグ操作などで文字が選択されてしまうのを防ぐ（Chrome/Edge/Safari用） */
	-webkit-user-select: none;
	/* 文字選択そのものを禁止する（標準プロパティ） */
	user-select: none;
}

/*タイトル列/値列*/
#leftStatusTitleCol, #leftStatusValueCol {
	/*縦並び*/
	display: flex;
	flex-direction: column;
}

/*タイトル列*/
#leftStatusTitleCol {
	/*background-color: rgb(4, 231, 125);*/
	width: 55px;

	/*テキスト上下中央調整用*/
	/*line-height: 23px;*/

	/* 上下中央揃え */
	/*align-items: center;*/

}
/*値列*/
#leftStatusValueCol {
	/*background-color: rgb(231, 140, 4);*/
	width: 60px;
	/*テキスト上下中央調整用*/
	/*line-height: 18px;*/
}


/*1行*/
.leftStatusTitle, .leftStatusValue {

	height: 20px;

	/* 高さ20pxの中で、内側の文字(span)を縦方向の中央に自動で揃える(縦は共通) */
	display: flex;
	align-items: center;
}
.leftStatusTitle {

	/* 横方向も中央に揃える */
	justify-content: center;
}
.leftStatusValue {

	/* 横方向は左寄せにする */
	justify-content: flex-start;
}

.leftStatusTitle span {

	/* フォント固有の上下のズレを視覚的に補正します */
	position: relative;
	top: 2.0px;

	color: rgb(255, 255, 255);
	/*line-height: 10px;*/
	font-size: 10px;
	font-family: 'Ethnocentric', 'apt';
	letter-spacing: -1px;

	/* 縁取り 元の色:#39308C*/
	--huti_color: #1300bd;
	--huti_size: 1.9px;

	/*line-height: 30px;*/
	-webkit-text-stroke: 0.5px var(--huti_color);
	text-shadow:
		/*右下*/
		var(--huti_size) var(--huti_size) 0 var(--huti_color),
		/*左下*/
		calc(-1 * var(--huti_size)) var(--huti_size) 0 var(--huti_color),
		/*右上*/
		var(--huti_size) calc(-1 * var(--huti_size)) 0 var(--huti_color),
		/*左上*/
		calc(-1 * var(--huti_size)) calc(-1 * var(--huti_size)) 0 var(--huti_color);
}

.leftStatusValue span {

	/* フォント固有の上下のズレを視覚的に補正します */
	position: relative;
	left: 4px;

	color: rgb(255, 255, 255);
	/*line-height: 20px;*/
	font-size: 14px;
	font-family: 'maruminya';
	letter-spacing: 0px;

	/*効果なし*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;
	/* 標準的なドット表示設定 */
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: unset;
	/* ピクセル精度で描画する指示 */
	text-rendering: optimizeSpeed;

	/* 縁取り 元の色:#39308C*/
	--huti_color: #000000;
	--huti_size: 1px;
	text-shadow:
		/*右下*/
		var(--huti_size) var(--huti_size) 0 var(--huti_color)
}