/*=======================*/
#leftStatus {

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;

	/*background-color: rgb(204, 0, 255);*/
	width: auto;
	height: auto;
	position: absolute;

	left: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;

	/* クリックは受け付けず、下のCanvasに素通りさせる */
	pointer-events: none;
	/* ブラウザ標準のスクロール・ズーム・長押しメニューなどのジェスチャーを無効化 */
	/*touch-action: none;*/
	/* iOS Safari用：長押しで出る画像保存メニューなどを無効化 */
	/*-webkit-touch-callout: none;*/
	/*-webkit-user-select: none;*/
	/* 長押しでのテキスト選択を防ぐ */
	/*user-select: none;*/

}


/*=======================*/

#leftStatusPanel {

	/*background-color: green;*/
	width: 176px;
	height: 124px;

	/*これは触れる*/
	pointer-events: auto;
}

#leftOpen {
	background-image: url("../assets/ui/LeftStatus/open.png");
	background-repeat: no-repeat;

	/* 絶対配置にして、他の要素の下に埋もれないようにする */
	position: absolute;
	z-index: 10;/* 重なり順を最前面にして、クリックを奪われないようにする */
	/*pointer-events: auto;*/

	left: 0px;
	top: 0px;
	width: 45px;
	height: 48px;
}

#leftOpen:active{
	/* クリック時に左下に移動(左下） */
	transform: translate(-1px, 1px);
}

#leftXpBar {
	background-image: url("../assets/ui/LeftStatus/xpBar.png");
	background-repeat: no-repeat;
	background-color: rgb(231, 178, 4);
	position: absolute;
	left: 0px;
	/*leftOpen+2px*/
	top: calc(48px + 2px);
	width: 3px;
	height: 233px;
}

#leftCoolTimer {
	background-image: url("../assets/ui/LeftStatus/coolTimer.png");
	background-repeat: no-repeat;

	position: absolute;
	left: 3px;
	top: 1px;
	width: 113px;
	height: 119px;
}

#leftPower {
	background-image: url("../assets/ui/LeftStatus/power.png");
	background-repeat: no-repeat;

	position: absolute;
	left: 30px;
	top: 28px;
	width: 148px;
	height: 65px;
}

#leftEnvironment {
	background-image: url("../assets/ui/LeftStatus/environment.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 29px;
	top: 29px;
	width: 35px;
	height: 35px;
}
#leftComboCount {
	background-image: url("../assets/ui/LeftStatus/comboCount.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 44px;
	top: 68px;
	width: 15px;
	height: 15px;
}
#leftAfkBtn {

	background-image: url("../assets/ui/LeftStatus/afkBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 78px;
	top: 83px;
	width: 15px;
	height: 15px;
}
#leftFootBtn {
	background-image: url("../assets/ui/LeftStatus/footBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 93px;
	top: 72px;
	width: 15px;
	height: 15px;
}
#leftStatusTab {
	background-image: url("../assets/ui/LeftStatus/statusBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 66px;
	top: 109px;
	width: 15px;
	height: 15px;
}
#leftEnvironmentTab {
	background-image: url("../assets/ui/LeftStatus/environmentBtn.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 85px;
	top: 103px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
#leftNoExpandTab {
	background-image: url("../assets/ui/LeftStatus/noexpand.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
	top: 92px;
	width: 15px;
	height: 15px;
}
#leftSkillSlot {
	/*background: radial-gradient(circle, #d80303 0%, #000 100px, transparent 101px);*/

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: crisp-edges;
	/* Firefox */
	image-rendering: crisp-edges;
	/* はみ出た画像を丸くカット */
	overflow: hidden;
	color: white;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	position: absolute;
	left: 62px;
	top: 52px;
	width: 28px;
	height: 28px;
}

/* ホバー時は背景位置を右半分にずらして「押された画像」に見せる */
#leftStatusPanel .downed {
	background-position: right top;
}
/*=======================*/

#leftStatusList {
	/*background-color: rgb(4, 27, 231);*/

	margin: 0;
	padding: 0;
	position: relative;
	left: 14px;
	top: 5px;

	/*横並び*/
	display: flex;
	flex-direction: row;

	/* クリックは受け付けず、下のCanvasに素通りさせる */
	pointer-events: none;
	/* ブラウザ標準のスクロール・ズーム・長押しメニューなどのジェスチャーを無効化 */
	touch-action: none;
	/* ドラッグ操作などで文字が選択されてしまうのを防ぐ（Chrome/Edge/Safari用） */
	-webkit-user-select: none;
	/* 文字選択そのものを禁止する（標準プロパティ） */
	user-select: none;
}

/*タイトル列/値列*/
#leftStatusTitleCol, #leftStatusValueCol {
	/*縦並び*/
	display: flex;
	flex-direction: column;
}

/*タイトル列*/
#leftStatusTitleCol {
	/*background-color: rgb(4, 231, 125);*/
	width: 47px;

	/*テキスト上下中央調整用*/
	/*line-height: 23px;*/

	/* 上下中央揃え */
	/*align-items: center;*/

}
/*値列*/
#leftStatusValueCol {
	/*background-color: rgb(231, 140, 4);*/
	width: 60px;
	/*テキスト上下中央調整用*/
	/*line-height: 18px;*/
}


/*1行*/
.leftStatusTitle, .leftStatusValue {

	/*background-color: rgb(4, 231, 125);*/
	height: 14px;

	/* 高さ20pxの中で、内側の文字(span)を縦方向の中央に自動で揃える(縦は共通) */
	display: flex;
	align-items: center;
}
.leftStatusTitle {justify-content: center;/* 横方向も中央に揃える */}
.leftStatusValue {justify-content: flex-start;/* 横方向は左寄せにする */}
.leftStatusEmpty
{
	/*background-color: rgb(4, 76, 231);*/
	height:8px;
}

.leftStatusTitleFont1,.leftStatusTitleFont2
{
	/*上下伸縮*/
	display: inline-block;/* transformを効かせるためにブロック化 */
	transform: scaleY(1.7);/* 縦方向に1.5倍伸ばす（1より小さいと縮む） */
	transform-origin: center;/* 伸縮の基準点を中央に設定 */

	/* フォント固有の上下のズレを視覚的に補正します */
	position: relative;
	top: 3px;

	color: rgb(255, 255, 255);
	font-size: 7px;
	font-family: 'Ethnocentric';
	/*line-height: 10px;*/
	

	--base_color: #0d0085;/*元 #39308C 表示用#1300bd*/
	
	/* 文字の後ろを塗りつぶす太さ（半径）と色 
	 最初に輪郭を、それから塗りつぶしを、そしてマーカーを描く */
	/*
	paint-order: stroke fill;
	-webkit-text-stroke: 3px var(--base_color);
	*/
	
	/*影　右下/左下/右上/左上*/
	/*--huti_size: 0.5px;
	--huti_size2: 1px;
	text-shadow:
		var(--huti_size) var(--huti_size) 0 var(--base_color),
		calc(-1 * var(--huti_size)) var(--huti_size) 0 var(--base_color),
		var(--huti_size) calc(-1 * var(--huti_size)) 0 var(--base_color),
		calc(-1 * var(--huti_size)) calc(-1 * var(--huti_size)) 0 var(--base_color),

		var(--huti_size2) var(--huti_size2) 0 var(--base_color),
		calc(-1 * var(--huti_size2)) var(--huti_size2) 0 var(--base_color),
		var(--huti_size2) calc(-1 * var(--huti_size2)) 0 var(--base_color),
		calc(-1 * var(--huti_size2)) calc(-1 * var(--huti_size2)) 0 var(--base_color)
		;*/	

	/*横方向/縦方向/ぼかし/色 */
	filter: 
		drop-shadow( 1px 0px 0px var(--base_color))
		drop-shadow( 0px 1px 0px var(--base_color))
		drop-shadow( -1px 0px 0px var(--base_color))
		drop-shadow( 0px -1px 0px var(--base_color))
		;

	/*マーカーみたいな?
	background-color:var(--huti_color);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	*/
}
.leftStatusTitleFont1{letter-spacing: 2px;}
.leftStatusTitleFont2{letter-spacing: 0.2px;}
.leftStatusValueFont {

	/* フォント固有の上下のズレを視覚的に補正します */
	position: relative;
	/*left: -1px;*/
	/*left: -60px;*/
	color: rgb(255, 255, 255);
	/*line-height: 20px;*/
	font-size: 13px;
	font-family: 'maruminya';
	letter-spacing: 1px;

	/*効果なし*/
	/*font-smooth: unset;*/
	/* Chrome, Edge, Safari */
	/*image-rendering: pixelated;*/
	/* Firefox */
	/*image-rendering: crisp-edges;*/
	/*(mac・iOS)標準的なドット表示設定 */
	/*-webkit-font-smoothing: none;*/
	/*-moz-osx-font-smoothing: unset;*/
	/* ピクセル精度で描画する指示 */
	/*text-rendering: optimizeSpeed;*/

	/* 縁取り 元の色:#39308C*/
	--huti_color: #000000;
	--huti_size: 1px;
	text-shadow:
		/*右下*/
		var(--huti_size) var(--huti_size) 0 var(--huti_color)
}

/*テスト*/
#statusHP {


	/*background-color: rgb(4, 231, 125);*/
	/*効果なし*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;
	/* (mac・iOS)標準的なドット表示設定 */
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: unset;
	/* ピクセル精度で描画する指示 */
	text-rendering: optimizeSpeed;

	width: 100px;
	height: 30px;
}