/* #chatArea の直下にあるすべての要素に margin: 1px を適用 */
#rightMenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 18px;
	/* 中の箱(rightMenuButtons)が伸び縮みするので、
		   固定の計算値はやめて高さは中身に合わせる */
	height: auto;
	padding: 0;
	margin: 0;
	z-index: 999;
}

/* 開閉アニメーションさせる箱 */
#rightMenuButtons {
	/* はみ出した部分(縮んだときの中身)を見えなくする */
	overflow: hidden;
	/* 開いている状態の高さ(51px × 9個分) */
	max-height: calc(51px * 9);
	/* max-heightが変化するときに0.5秒かけてなめらかに動かす */
	transition: max-height 0.25s ease;
}
@media (max-height: 450px) {
	#rightMenuButtons {
		max-height: calc(38px * 9);
	}
}

/* JSでこのクラスを付けると閉じる(収納する) */
#rightMenuButtons.closed {
	max-height: 0px;
}

/* 各メニューボタン共通のサイズ・見た目 */
.rightMenuBtn {
	/* 画像の横幅を2倍(200%)にすることで、画像全体を 左半分・右半分の2コマとして扱えるようにする */
	background-size: 200% 100%;
	/* 画像が繰り返し表示されないようにする */
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
	width: 18px;
	height: 51px;
}
@media (max-height: 450px) {
	.rightMenuBtn {
		height: 38px;
	}
}

/* 各メニューボタン共通のサイズ・見た目 */
.rightMenuOpenBtn {
	/* 画像の横幅を2倍(200%)にすることで、画像全体を 左半分・右半分の2コマとして扱えるようにする */
	/*background-size: 200% 100%;*/
	/* 画像が繰り返し表示されないようにする */
	background-repeat: no-repeat;
	background-position: left top;
	cursor: pointer;
	width: 18px;
	height: 18px;
}

/* ホバー時は背景位置を右半分にずらして「押された画像」に見せる */
.rightMenuBtn:hover {
	background-position: right top;
}
.rightMenuOpenBtn:active {
	background-position: right top;
}
/* rightMenuButtonsが閉じていない=開いている時は、rightMenuOpenの画像をclose.pngに差し替える 
~ (チルダ)は「隣接兄弟セレクタ」で、「同じ親を持ち、かつ前に書いた要素より後ろにある要素」を指します*/
#rightMenuButtons:not(.closed) ~ #rightMenuOpen {
	background-position: left bottom;
}
#rightMenuButtons:not(.closed) ~ #rightMenuOpen:active {
	background-position: right bottom;
}

#rightMenuCharacter {
	background-image: url("../assets/ui/RightMenu/character.png");
}

#rightMenuCombo {
	background-image: url("../assets/ui/RightMenu/combo.png");
}

#rightMenuEquip {
	background-image: url("../assets/ui/RightMenu/equip.png");
}
#rightMenuItem {
	background-image: url("../assets/ui/RightMenu/item.png");
}
#rightMenuOption {
	background-image: url("../assets/ui/RightMenu/option.png");
}
#rightMenuSkill {
	background-image: url("../assets/ui/RightMenu/skill.png");
}
#rightMenuTeam {
	background-image: url("../assets/ui/RightMenu/team.png");
}
#rightMenuClub {
	background-image: url("../assets/ui/RightMenu/club.png");
}
#rightMenuQuest {
	background-image: url("../assets/ui/RightMenu/quest.png");
}
#rightMenuOpen {
	background-image: url("../assets/ui/RightMenu/open.png");
}