#comboContainer {
	

	background-image: url("../assets/ui/windowCombo/window.png");

	/* ドットを崩さずに拡大表示する指定 ctx.imageSmoothingEnabled=falseと併用可能*/
	/* Chrome, Edge, Safari */
	image-rendering: pixelated;
	/* Firefox */
	image-rendering: crisp-edges;

	/* 画面上に位置を固定 */
	position: fixed;
	/*margin: 0;
	padding: 0;*/
	width: 271px;
	height: 155px;

	/*
	top: 20px;
	right: 100px;
	*/

	/*数値が大きいほど手前に表示されます*/
	z-index: 2;

	display:none;
}